@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.swiper3 .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper3 .swiper-pagination-bullet {
  width: 70px;
  height: 70px;
}

.swiper3 .swiper-pagination-bullet-active {
  width: 70px !important;
  height: 70px !important;
}